<!DOCTYPE HTML>
<!--suppress ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>Shadowsocks账号分享</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script async src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input id="param" name="param" class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
        <input hidden name="page" th:value="${#request.getParameter('page')}">
    </form>
    <label>账号由爬虫自动获取不定期更新如果这样都要喝茶我也无F@K说</label>
</nav>
<nav>
    <ul class="pagination justify-content-center">
        <li th:class="${r.getData().number <= 0} ? 'page-item disabled' : 'page-item'">
            <a class="page-link"
               th:href="@{/(param=${#request.getParameter('param')}, page=${r.getData().number})}">上一页</a>
        </li>

        <li class="page-item"
            th:if="${r.getData().number > 0 and r.getData().number <= r.getData().totalPages}">
            <a class="page-link" th:href="@{/(param=${#request.getParameter('param')}, page=${r.getData().number})}"
               th:text="${r.getData().number}"></a>
        </li>
        <li class="page-item active" th:if="${r.getData().number + 1 <= r.getData().totalPages}">
            <a class="page-link" th:href="@{/(param=${#request.getParameter('param')}, page=${r.getData().number + 1})}"
               th:text="${r.getData().number + 1}"></a>
        </li>
        <li class="page-item" th:if="${r.getData().number + 2 <= r.getData().totalPages}">
            <a class="page-link" th:href="@{/(param=${#request.getParameter('param')}, page=${r.getData().number + 2})}"
               th:text="${r.getData().number + 2}"></a>
        </li>

        <li th:class="${r.getData().number >= r.getData().totalPages - 1} ? 'page-item disabled' : 'page-item'">
            <a class="page-link"
               th:href="@{/(param=${#request.getParameter('param')}, page=${r.getData().number + 2})}">下一页</a>
        </li>
    </ul>
</nav>
<table id="table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>IP</th>
        <th>端口</th>
        <th>密码</th>
        <th>加密方式</th>
        <th>位置</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account: ${r.getData().getContent()}">
        <td th:text="${account.ip}"></td>
        <td th:text="${account.port}"></td>
        <td th:text="${account.password}"></td>
        <td th:text="${account.method}"></td>
        <td th:text="${account.location}"></td>
        <td>
            <a th:text="${account.status}" th:href="${account.config}"></a>
            <a th:text="检测" th:href="'javascript:ping(' + ${account.id} + ');'"></a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function ping(id) {
        $.get("/ping/" + id, function (e) {
            alert(e.msg);
            location.reload();
        });
    }
</script>
</body>
</html>
